@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Barlow Semi Condesed, sans-serif;
  background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%)) no-repeat center center fixed;
  padding: 2rem;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  color: #fff;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding: 1rem;
  z-index: 999;
}
.header .score-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  background-color: #fff;
  color: hsl(229, 25%, 31%);
  padding: 0.5rem 1rem;
  width: 100px;
  border-radius: 5px;
}
.header .score-box .player-score {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header .score-box h5 {
  font-size: 70%;
  line-height: 0;
  margin-top: 1rem;
}
.header .score-box .score {
  font-size: 200%;
  font-weight: 700;
}

.play-field {
  width: 500px;
  height: 500px;
  margin-top: 4rem;
}
.play-field .player-choice {
  position: relative;
  height: 100%;
  width: 100%;
}
.play-field .player-choice .bg-triangle {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.play-field .paper-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  background: linear-gradient(0deg, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  border-radius: 100%;
  width: 200px;
  height: 200px;
  padding: 1.5rem;
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
}
.play-field .paper-wrap img {
  background-color: #fff;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  object-fit: contain;
  box-shadow: inset 0 5px 10px 0 #999999;
  transition: all 0.6s ease-outs;
}
.play-field .scissors-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  background: linear-gradient(0deg, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  border-radius: 100%;
  width: 200px;
  height: 200px;
  padding: 1.5rem;
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  right: 0;
}
.play-field .scissors-wrap img {
  background-color: #fff;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  object-fit: contain;
  box-shadow: inset 0 5px 10px 0 #999999;
  transition: all 0.6s ease-outs;
}
.play-field .rock-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  background: linear-gradient(0deg, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  border-radius: 100%;
  width: 200px;
  height: 200px;
  padding: 1.5rem;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
}
.play-field .rock-wrap img {
  background-color: #fff;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  object-fit: contain;
  box-shadow: inset 0 5px 10px 0 #999999;
  transition: all 0.6s ease-outs;
}

.play-hands {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #fff;
  width: max-content;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.play-hands .player-hand, .play-hands .game-reset, .play-hands .enemy-hand {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 300px;
}
.play-hands .player-hand, .play-hands .enemy-hand {
  position: relative;
  transition: transform 0.6s ease-in-out;
}
.play-hands .player-hand h4, .play-hands .enemy-hand h4 {
  position: absolute;
  top: 10%;
}
.play-hands .player-hand img, .play-hands .enemy-hand img {
  background-color: #fff;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  object-fit: contain;
  box-shadow: inset 0 5px 10px 0 #999999;
  transition: all 0.6s ease-outs;
}
.play-hands .player-hand .paper, .play-hands .enemy-hand .paper {
  scale: 1.2;
  cursor: pointer;
  background: linear-gradient(0deg, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  border-radius: 100%;
  width: 200px;
  height: 200px;
  padding: 1.5rem;
  transition: all 0.3s ease;
}
.play-hands .player-hand .scissors, .play-hands .enemy-hand .scissors {
  scale: 1.2;
  cursor: pointer;
  background: linear-gradient(0deg, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  border-radius: 100%;
  width: 200px;
  height: 200px;
  padding: 1.5rem;
  transition: all 0.3s ease;
}
.play-hands .player-hand .rock, .play-hands .enemy-hand .rock {
  scale: 1.2;
  cursor: pointer;
  background: linear-gradient(0deg, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  border-radius: 100%;
  width: 200px;
  height: 200px;
  padding: 1.5rem;
  transition: all 0.3s ease;
}
.play-hands .player-hand .winner, .play-hands .enemy-hand .winner {
  background: radial-gradient(at center, rgb(35, 59, 82) 40%, rgba(35, 59, 82, 0.5) 40%, rgba(25, 59, 82, 0.8) 55%, rgba(25, 59, 82, 0.4) 55%);
  border-radius: 50%;
  padding: 20px; /* Adjust padding as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 700px;
  z-index: -100;
  position: absolute;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}
.play-hands .player-hand .winner.active, .play-hands .enemy-hand .winner.active {
  transform: scale(1);
}
.play-hands .player-hand .loading, .play-hands .enemy-hand .loading {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: hsl(237, 49%, 15%);
  opacity: 0.4;
}
.play-hands .game-reset {
  position: relative;
  width: 0;
  transition: width 0.5s ease;
  overflow: hidden;
}
.play-hands .game-reset h2 {
  font-size: 300%;
  position: absolute;
  top: 35%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.play-hands .game-reset button {
  position: absolute;
  top: 50%;
  width: 75%;
  font-size: 80%;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.play-hands .game-reset button:hover {
  color: red;
}
.play-hands .game-reset.show {
  width: 300px;
  overflow: visible;
}
.play-hands .game-reset.show h2, .play-hands .game-reset.show button {
  opacity: 1;
}

.rules-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 130px;
  padding: 0.5rem;
  margin: 2rem;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  background: transparent;
  color: #d4d4d4;
  font-size: 100%;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}
.rules-btn:hover {
  transform: scale(1.2);
  opacity: 1;
}

.modal-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
  opacity: 0;
}
.modal-overlay .modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
  z-index: 9999;
}
.modal-overlay .modal-container .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  color: hsl(229, 25%, 31%);
  margin-bottom: 1rem;
}
.modal-overlay .modal-container .modal-header .modal-close {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.6s ease;
}
.modal-overlay .modal-container .modal-header .modal-close:hover {
  transform: rotate(180deg);
}
.modal-overlay .modal-container .modal-body {
  padding: 1rem;
}

.modal-overlay.active {
  opacity: 1;
  display: flex;
}/*# sourceMappingURL=style.css.map */